@import "tailwindcss";

:root {
    --background: #f7f7f7;
    --foreground: #000;

    --color-subtle: #444444;

    --color-border: #e4e4e4;

    --color-hr: #e4e4e4;

    --color-links: #4b4b4b;
    --color-links-hover: #000;
}

.dark {
    --background: #1a1a1a;
    --foreground: #fff;

    --color-subtle: #999999;

    --color-border: #363636;

    --color-hr: #363636;

    --color-links: #cacaca;
    --color-links-hover: #fff4f7;
}

@theme {
    --color-subtle: var(--color-subtle);
    --color-hr: var(--color-hr);
    --color-border: var(--color-border);
    --color-primary: #fdaa6b;
    --color-primary-hover: #fc987a;
}



body {
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden;
}

.links {
    color: var(--color-links);
    @apply font-semibold;
}

.links:hover {
    color: var(--color-links-hover);
}

.docs {
    font-family: 'Fira Code', monospace;
}